/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1e293b;
}
.welcome-heading {
  font-family: 'Bree Serif';
  font-size: 40px;
  color: #f0bb03;
}
@media screen and (min-width: 768px) {
  .welcome-heading {
    font-size: 80px;
  }
}
.thank-you-paragraph {
  font-size: 20px;
  font-family: 'Bree Serif';
  color: #fff;
}
@media screen and (min-width: 768px) {
  .thank-you-paragraph {
    font-size: 30px;
  }
}
.button {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  padding: 10px 22px;
  cursor: pointer;
  outline: none;
}
